* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Encode Sans Condensed', sans-serif;
  margin-top: 130px;
}
