// Utilities
.container {
    max-width: 1080px;
    margin: 0 auto;
  }

.d-flex {
  display: flex;
}

.justyify-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}